<%# render :partial => '/main/rail' %>

<div id="main_wrapper">

	<div class="main_container">


    <h4>[하비스트 한국지사 ㈜미라 소개]</h4> 
    <br> 
    CEO 인사말.<br> 
    <br> 
    언제나 저희 ㈜미라를 믿고 관심과 성원을 보내주신 여러분께 진심으로 감사 드립니다.<br> 
    <br> 
    25년간 Dermatology, P.S. 기자재 및 의료사업으로 외길을 걸어온 ㈜미라는 아무도 개척하지 <br> 
    않은 미지의 시장을 개발해 나가는 데서 보람과 자부심을 느끼고 있습니다.<br> 
    <br> 
    저희 ㈜미라가 Dermatology Laser 및 기자재, 두피 care 및 비만 clinic 업무까지 전담하면서 <br> 
    이 분야의 독보적인 존재로 우뚝 서기까지의 원동력은 의사 및 병원 관계자 분들의 무한한 성원에 감사 드립니다.<br> 
    <br> 
    2008년부터 준비되어 온 미국 Harvest Technologies Inc.와 협력하여 유명 대학 교수진의 도움을 받아<br>
    국내외 의료계의 유전공학 분야 발전을 위하여 Stemcell을 알리고자 준비해 온지 벌써 3년이 지났습니다.<br> 
    <br> 
    앞으로도 대한민국의 의료발전을 위해 진일보된 신뢰를 바탕으로 모범적인 회사가 되도록 <br> 
    노력 할 것입니다. 생명을 존중하는 기업 ㈜미라 앞으로도 아낌없는 격려 부탁 드립니다.<br> 
    <br> 
    감사합니다.<br> 
    <br> 
    ㈜미라 대표이사<br> 
    신현순<br> 
    <br> 
    <b>미라(Mira)란?</b><br>
    미라의 뜻은 라틴어로 ‘기적’이라는 뜻입니다.<br>
    <br>
    <b>성공철학</b><br> 
    당신이 마음속에 그린 것을 생생하게 상상하고 간절히 바라며 깊이 믿고 열의를 다해 행동하면<br>
    그것이 무슨 일이든 반드시 현실로 이루어 진다!<br> 
    <br> 
    <b>사명과 비전</b><br> 
    생명을 존중하고 건강한 삶을 추구하는 기업 미라<br> 
    Company Mira respect for life and pursue healthy life<br> 
    <br> 
    첨단진료의 전문화를 위하여 국내외 각 의료기관과 협력하여 지속적으로 연구 개발 할 것입니다.<br> 
    선진화된 의학기술을 선도하여 질병을 치유하도록 할 것입니다.<br> 
    윤리와 도덕을 중시하는 기업으로 병원의 발전과 국민건강에 이바지 할 것입니다.<br> 
    <br> 
    <b>사회공헌</b><br> 
    필리핀 팬-월드 맹인 선교회 정기후원 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 빠딜랴 맹인 교회건축 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 어린이 유치원 개원 <br> &nbsp;&nbsp;&nbsp;&nbsp;
    - 교회 사역 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 비정규 학교 교육 사역 (개인 학습지도 센터) <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 조이 하우스 사역 (여자 시각장애인 그룹 홈) <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 빔 하우스 사역 (남자 시각장애인 그룹 홈) <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 급식 사역 (어린이 급식, 노인급식) <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 장학 사역 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 의료 사역 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 단기 선교 사역 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 어린이 성경학교 <br>&nbsp;&nbsp;&nbsp;&nbsp;
    - 국립 맹아학교 사역 <br> 
    <br> 
    월드비전 긴급구호 식량위기 정기후원<br><img src="/system/attachments/1/standard/harvest_kor.png?1298387300"><br> 
    <br> 
    사단법인 한국청소년육성회 강남지구회 청소년 선도 및 보호 <br> 
    <br>
    <b>사업현황</b><br> 
    정형외과 Equipment Supplier<br>
    성형외과 Equipment Supplier<br>
    두피 Equipment Supplier<br>
    피부과 Equipment Supplier<br>
    비만 Equipment Supplier<br>
    <br> 
    <b>회사현황</b><br> 
    2009 미국 하버드대학 줄기세포 Harvest Technologies Inc.<br> 
    2009 영국 PANGAEA LABORATORIES Ltd. Medik8, Korea Exclusive Distributor<br> 
    2006 호주 NORSELD Pty Ltd. Dual Yellow Laser, Korea Exclusive Distributor<br> 
    2005 독일 COSMOMED Beauty-Rent GmbH, Korea Exclusive Distributor<br> 
    2004 미국 SANSPA USA, Korea Exclusive Distributor<br> 
    2002 미국 PURE OXYGEN, LLC, Korea Exclusive Distributor<br> 
    2001 프랑스 LPG Systems S.A., Korea Exclusive Distributor<br> 
    1998 이태리 CARISMA s.r.l., Korea Exclusive Distributor<br> 
    1996 프랑스 PHYTOBIODERMIE, Korea Exclusive Distributor<br> 
    1994 사이프러스 NEODERMA COSMETICS-ROLANDOS Enterprises Ltd., Korea Exclusive Distributor<br> 
    1991 이태리 SAUNA ITALIA SPA., Korea Exclusive Distributor<br> 
    1988 이태리 IPS S.R.L., Korea Exclusive Distributor<br> 
    1987 이태리 SA.MAS. s.r.l., Korea Exclusive Distributor<br> 
    1986 이태리 FORMAGGIA s.r.l., Korea Exclusive Distributor<br> 
    <br> 
    <b>회사연혁</b><br> 
    2011.02&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;㈜미라(Mira) 상호변경<br> 
    2002.06&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;㈜미라루쉬(Mirarush) 상호변경<br> 
    1997.04&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;㈜미라코스메틱 법인 전환<br> 
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;미라피부과 피부맨풀 프랜차이즈 사업 시행<br> 
    1988.01&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;미라피부과 의원 개원
    <br><br><br> 

    <b>위치 및 연락처 </b><br>
    미라㈜Mira<br>
    서울시 강남구 역삼동 721-36 3층<br>
    <b>Phone</b>: 02-556-6545<br>
    <b>Fax</b>: 02-556-6768<br>
    <b>Web</b>: www.mirarush.com / www.harvest.com<br>
    <br><br>



    <h4>[하비스트 미국 본사]</h4> 
    <h5> 하비스트 대표 이사 Gary Tureski</h5>
    - 롱아일랜드대학 생물학전공 <br> 
    - 미국 면역질병 협회 <br> 
    - 의료장비기업 세일즈매니저 (1972년~1985년)<br> 
    - 하비스트 Technology 설립 (1995년) <br> 
    - 하비스트 Technology 대표이사 <br> 
    <br> 
    사업현황: 의료시스템 및 장비 <br> 
    사업목표: 환자의 골수와 혈액에서 체취한 줄기세포를 이용하여 각종 질병에 대해 자연적 치유를 도움<br> 
    <br> 
    <b>기업연혁</b><br> 
    1995년: 하비스트 설립 <br> 
    1999년 11월: SmartPRep 출시<br> 
    2001년: SmartPRep1 Disposals 1백만개 판매 <br> 
    2001년: SmartPRep1 장비 6천개 판매 <br> 
    2002년: SmartPRep2 출시<br> 
    2006년 9월: BMAC 출시 <br> 
    2006년 12월: BMAC Disposals 50,000개 판매 <br> 
    <br> 
    <b>위치 및 연락처</b> <br> 
    Harvest Technologies Corporation <br> 
    40 Grissom Road, Suite 100 <br> 
    Plymouth, MA 02360 USA<br> 
    <span style="font-weight: bold;"> Phone</span>: 508-732-7500 <br> 
    <span style="font-weight: bold;">Fax</span>: 508-732-0400<br> 
    <b>Web</b>: <a href="http://www.harvesttech.com">www.harvesttech.com</a><br> 
    <br>
</div>
<div class="main_bottom"></div>
