@import mixin.sass

#wrapper
	:width !full_width
	:margin 0 auto

#header
	:padding-top 50px
	+clearfix
	#alert
		:position absolute
		:width !full_width
		:text-align center
		:top 5px
		:color = !c_blue
		:font-size 13px
		:font-weight bold
	h1
		:float left
		:background url(/images/Index/Top/index_top_title.png) no-repeat 0 0
		:padding-bottom !std_padding
		a
			:display block
			:width !logo_width
			:height !logo_height
			:text-indent -9999px
			&:focus
				:outline none
	div.top_actions
		:float right
		+clearfix
		a
			:display block
			:float left
			:height 12px
			:text-indent -9999px
			:padding-left 7px
			&:focus
				:outline none
			&.login
				:background url(/images/Index/Top/Login_menu/index_logmenu_login_nor.png) no-repeat 0 0
				:width 32px
				&.showing,
				&:hover
					:background url(/images/Index/Top/Login_menu/index_logmenu_login_sel.png) no-repeat 0 0
			&.signup
				:background url(/images/Index/Top/Login_menu/index_logmenu_join_nor.png) no-repeat 0 0
				:width 43px
				&.showing,
				&:hover
					:background url(/images/Index/Top/Login_menu/index_logmenu_join_sel.png) no-repeat 0 0
			&.announcement
				:background url(/images/Index/Top/Login_menu/index_logmenu_announce_nor.png) no-repeat 0 0
				:width 44px
				&.showing,
				&:hover
					:background url(/images/Index/Top/Login_menu/index_logmenu_announce_sel.png) no-repeat 0 0
			&.company
				:background url(/images/Index/Top/Login_menu/index_logmenu_introduce_nor.png) no-repeat 0 0
				:width 43px
				&.showing,
				&:hover
					:background url(/images/Index/Top/Login_menu/index_logmenu_introduce_sel.png) no-repeat 0 0
	#main_image
		:clear both
		:width !full_width
		:height 500px
		:background url(/images/Index/Main/index_main.png) no-repeat 0 0
		+clearfix
	div.sections
		+clearfix
		:clear both
		a
			:display block
			:float left
			:width !folder_width
			:height 40px
			:text-indent -9999px
			&:focus
				:outline none
			&.s_1
				:background url(/images/Index/Navi_menu/index_navi_01_nor.png) no-repeat 0 0
				&.showing,
				&:hover
					:background url(/images/Index/Navi_menu/index_navi_01_sel.png) no-repeat 0 0
			&.s_2
				:background url(/images/Index/Navi_menu/index_navi_02_nor.png) no-repeat 0 0
				&.showing,
				&:hover
					:background url(/images/Index/Navi_menu/index_navi_02_sel.png) no-repeat 0 0
			&.s_3
				:background url(/images/Index/Navi_menu/index_navi_03_nor.png) no-repeat 0 0
				&.showing,
				&:hover
					:background url(/images/Index/Navi_menu/index_navi_03_sel.png) no-repeat 0 0
			&.s_4
				:background url(/images/Index/Navi_menu/index_navi_04_nor.png) no-repeat 0 0
				&.showing,
				&:hover
					:background url(/images/Index/Navi_menu/index_navi_04_sel.png) no-repeat 0 0
			&.s_5
				:background url(/images/Index/Navi_menu/index_navi_05_nor.png) no-repeat 0 0
				&.showing,
				&:hover
					:background url(/images/Index/Navi_menu/index_navi_05_sel.png) no-repeat 0 0
	div.folders
		:width !full_width
		:height 96px
		:background url(/images/Index/Sub_menu/index_sub_background.png) no-repeat 0 0
		+clearfix
		.folder_container
			:float left
			:width !folder_width
			:padding-top 2px
			a
				:display block
				:width !folder_width
				:text-indent -9999px
				:margin-bottom 1px
				:height 22px
				:background url(/images/blank.gif) no-repeat 50% 50%
				&:focus
					:outline none
		.section_1
			a.folder_1
				:height 23px
				:background-image url(/images/Index/Sub_menu/index_sub_01-01_nor.png)
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_01-01_sel.png)
			a.folder_2
				:background-image url(/images/Index/Sub_menu/index_sub_01-02_nor.png)
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_01-02_sel.png)
			a.folder_3
				:background-image url(/images/Index/Sub_menu/index_sub_01-03_nor.png)
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_01-03_sel.png) 
		.section_2
			a.folder_1
				:height 23px
				:background-image url(/images/Index/Sub_menu/index_sub_02-01_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_02-01_sel.png) 
			a.folder_2
				:background-image url(/images/Index/Sub_menu/index_sub_02-02_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_02-02_sel.png) 
			a.folder_3
				:background-image url(/images/Index/Sub_menu/index_sub_02-03_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_02-03_sel.png) 
			a.folder_4
				:background-image url(/images/Index/Sub_menu/index_sub_02-04_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_02-04_sel.png) 
		.section_3
			a.folder_1
				:height 23px
				:background-image url(/images/Index/Sub_menu/index_sub_03-01_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_03-01_sel.png) 
			a.folder_2
				:background-image url(/images/Index/Sub_menu/index_sub_03-02_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_03-02_sel.png) 
			a.folder_3
				:background-image url(/images/Index/Sub_menu/index_sub_03-03_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_03-03_sel.png) 
			a.folder_4
				:background-image url(/images/Index/Sub_menu/index_sub_03-04_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_03-04_sel.png) 
		.section_4
			a.folder_1
				:height 23px
				:background-image url(/images/Index/Sub_menu/index_sub_04-01_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_04-01_sel.png) 
			a.folder_2
				:background-image url(/images/Index/Sub_menu/index_sub_04-02_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_04-02_sel.png) 
		.section_5
			a.folder_1
				:height 23px
				:background-image url(/images/Index/Sub_menu/index_sub_05-01_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_05-01_sel.png) 
			a.folder_2
				:background-image url(/images/Index/Sub_menu/index_sub_05-02_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_05-02_sel.png) 
			a.folder_3
				:background-image url(/images/Index/Sub_menu/index_sub_05-03_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_05-03_sel.png) 
			a.folder_4
				:background-image url(/images/Index/Sub_menu/index_sub_05-04_nor.png) 
				&.showing,
				&:hover
					:background-image url(/images/Index/Sub_menu/index_sub_05-04_sel.png) 
#section
	#rail
		:width !rail_width
		form
			input.text,
			textarea.text
				:width = !rail_width - (!input_padding*2) - (!border_width*2)
		div.section_title
			a
				:display block
				:width !rail_width
				:height 80px
				:background url(/images/sub_page/sub_title_sample.png) no-repeat 0 0
		div.sub_pages
			+clearfix
			:background url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_background.png) no-repeat 0 0
			a
				:display block
				:float left
				:width !folder_width
				:height 20px
				:text-align center
				:color #999
				&:focus
					:outline none
				&.f2_page_1
					:background url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_01_nor.png) no-repeat 50% 50%
					:text-indent -9999em
					&.showing,
					&:hover
						:color white
				&.f2_page_2
					:background url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_02_nor.png) no-repeat 50% 50%
					:text-indent -9999em
					&.showing,
					&:hover
						:color white
				&.f2_page_3
					:background url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_03_nor.png) no-repeat 50% 50%
					:text-indent -9999em
					&.showing,
					&:hover
						:color white
		ul#folders
			li.folder
				:position relative
				div.order_handle
					:visibility hidden
					:position absolute
					:right 0
					:top 7px
					:height 20px
					:width 15px
					:overflow hidden
					:background url(/images/draggable.png) no-repeat 0 0
					:text-indent -9999px
				&.hover
					.order_handle
						:visibility visible
				a.folder
					:display block
					:padding 6px 2px 4px
					:border-bottom 1px solid #e1e1e1
					&:hover
						:background-color #DDE0E8
						:text-decoration none
				&.showing
					a.folder
						:background-color #DDE0E8
						:font-weight bold
				ul.folder_items
					li.item
						:background url(/images/blt_dot.gif) no-repeat 3px 50%
						a.item
							:display block
							:padding 6px 2px 4px
							:margin-left 15px
							:color #666
							:text-decoration none
							:border-bottom 1px solid #e9e9e9
							&:hover
								:background-color #e9e9e9
							&.showing
								:font-weight bold
	#main_wrapper
		:width !main_width
		form.new
			input.text
				:width (!main_width - (!input_padding*2) - (!border_width*2)) / 4 * 3
			textarea.text
				:width !main_width - (!input_padding*2) - (!border_width*2)
		.admin_actions
			:padding-bottom !std_margin
			:margin-bottom !std_padding
			:border-bottom 1px solid #d7d7d7
			a
				:margin-right !std_padding
		div.page
			h5
				:padding-bottom !std_padding
			div.page_content
		div.board
			h5
				:padding-bottom !std_padding
			ul.posts
				:border-top 1px solid #e2e2e2
				li.post
					+clearfix
					:padding !std_padding 0
					:border-bottom 1px solid #e2e2e2
					a
						:color #333
						:text-decoration none
						&:hover
							:text-decoration underline
					div.f
						:float left
						:text-align center
						&.post_id
							:width 30px
						&.post_title
							:width !main_width - 30px - 140px - 120px - 40px
							:text-align left
						&.post_user
							:width 140px
						&.post_date
							:width 120px
						&.post_hits
							:width 40px
			.toolbar
				:text-align right
				:padding !std_margin 0
		div.post
			h5
				:padding-bottom !std_padding
			.post_byline
				:text-align right
			.post_attachment
				:padding !std_margin !std_padding
				:background-color #e9e9e9
			.post_content
				:padding !std_padding 0
			.owner_action
				:text-align right
				:padding !std_margin 0
			.toolbar
				:text-align left
				:padding !std_margin 0
				:border-top 1px solid #e2e2e2
			div.comments
				:padding !std_padding*2 0
				form.new_comment
					textarea.text
						:width !main_width / 3 * 2
						:height 54px
			ul#comments
				li.comment
					:padding !std_padding 0
					:border-top 1px solid #e9e9e9
					:position relative
					.owner_actions
						:position absolute
						:right 5px
						:top 5px
						:visibility hidden
					.comment_header
						:color #7a7a7a
					.comment_content
						span.date
							:color #7a7a7a
							:padding-left !std_margin
							:font-size 11px
							:letter-spacing -1px
					&.hover
						.owner_actions
							:visibility visible
#footer
	:width !full_width
	:height 116px
	:background url(/images/Index/Bottom/index_bottom_background.png) no-repeat 0 0

form.edit_comment
	textarea.text
		:width !main_width / 3 * 2
		:height 54px
		
