#wrapper {
  width: 960px;
  margin: 0 auto; }

#header {
  padding-top: 50px; }
  #header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #header {
    display: inline-block; }
  * html #header {
    height: 1%; }
  #header {
    display: block; }
  #header #alert {
    position: absolute;
    width: 960px;
    text-align: center;
    top: 5px;
    color: #3b5998;
    font-size: 13px;
    font-weight: bold; }
  #header h1 {
    float: left;
    background: url(/images/Index/Top/index_top_title.png) no-repeat 0 0;
    padding-bottom: 10px; }
    #header h1 a {
      display: block;
      width: 187px;
      height: 53px;
      text-indent: -9999px; }
      #header h1 a:focus {
        outline: none; }
  #header div.top_actions {
    float: right; }
    #header div.top_actions:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #header div.top_actions {
      display: inline-block; }
    * html #header div.top_actions {
      height: 1%; }
    #header div.top_actions {
      display: block; }
    #header div.top_actions a {
      display: block;
      float: left;
      height: 12px;
      text-indent: -9999px;
      padding-left: 7px; }
      #header div.top_actions a:focus {
        outline: none; }
      #header div.top_actions a.login {
        background: url(/images/Index/Top/Login_menu/index_logmenu_login_nor.png) no-repeat 0 0;
        width: 32px; }
        #header div.top_actions a.login.showing, #header div.top_actions a.login:hover {
          background: url(/images/Index/Top/Login_menu/index_logmenu_login_sel.png) no-repeat 0 0; }
      #header div.top_actions a.signup {
        background: url(/images/Index/Top/Login_menu/index_logmenu_join_nor.png) no-repeat 0 0;
        width: 43px; }
        #header div.top_actions a.signup.showing, #header div.top_actions a.signup:hover {
          background: url(/images/Index/Top/Login_menu/index_logmenu_join_sel.png) no-repeat 0 0; }
      #header div.top_actions a.announcement {
        background: url(/images/Index/Top/Login_menu/index_logmenu_announce_nor.png) no-repeat 0 0;
        width: 44px; }
        #header div.top_actions a.announcement.showing, #header div.top_actions a.announcement:hover {
          background: url(/images/Index/Top/Login_menu/index_logmenu_announce_sel.png) no-repeat 0 0; }
      #header div.top_actions a.company {
        background: url(/images/Index/Top/Login_menu/index_logmenu_introduce_nor.png) no-repeat 0 0;
        width: 43px; }
        #header div.top_actions a.company.showing, #header div.top_actions a.company:hover {
          background: url(/images/Index/Top/Login_menu/index_logmenu_introduce_sel.png) no-repeat 0 0; }
  #header #main_image {
    clear: both;
    width: 960px;
    height: 500px;
    background: url(/images/Index/Main/index_main.png) no-repeat 0 0; }
    #header #main_image:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #header #main_image {
      display: inline-block; }
    * html #header #main_image {
      height: 1%; }
    #header #main_image {
      display: block; }
  #header div.sections {
    clear: both; }
    #header div.sections:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #header div.sections {
      display: inline-block; }
    * html #header div.sections {
      height: 1%; }
    #header div.sections {
      display: block; }
    #header div.sections a {
      display: block;
      float: left;
      width: 192px;
      height: 40px;
      text-indent: -9999px; }
      #header div.sections a:focus {
        outline: none; }
      #header div.sections a.s_1 {
        background: url(/images/Index/Navi_menu/index_navi_01_nor.png) no-repeat 0 0; }
        #header div.sections a.s_1.showing, #header div.sections a.s_1:hover {
          background: url(/images/Index/Navi_menu/index_navi_01_sel.png) no-repeat 0 0; }
      #header div.sections a.s_2 {
        background: url(/images/Index/Navi_menu/index_navi_02_nor.png) no-repeat 0 0; }
        #header div.sections a.s_2.showing, #header div.sections a.s_2:hover {
          background: url(/images/Index/Navi_menu/index_navi_02_sel.png) no-repeat 0 0; }
      #header div.sections a.s_3 {
        background: url(/images/Index/Navi_menu/index_navi_03_nor.png) no-repeat 0 0; }
        #header div.sections a.s_3.showing, #header div.sections a.s_3:hover {
          background: url(/images/Index/Navi_menu/index_navi_03_sel.png) no-repeat 0 0; }
      #header div.sections a.s_4 {
        background: url(/images/Index/Navi_menu/index_navi_04_nor.png) no-repeat 0 0; }
        #header div.sections a.s_4.showing, #header div.sections a.s_4:hover {
          background: url(/images/Index/Navi_menu/index_navi_04_sel.png) no-repeat 0 0; }
      #header div.sections a.s_5 {
        background: url(/images/Index/Navi_menu/index_navi_05_nor.png) no-repeat 0 0; }
        #header div.sections a.s_5.showing, #header div.sections a.s_5:hover {
          background: url(/images/Index/Navi_menu/index_navi_05_sel.png) no-repeat 0 0; }
  #header div.folders {
    width: 960px;
    height: 96px;
    background: url(/images/Index/Sub_menu/index_sub_background.png) no-repeat 0 0; }
    #header div.folders:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #header div.folders {
      display: inline-block; }
    * html #header div.folders {
      height: 1%; }
    #header div.folders {
      display: block; }
    #header div.folders .folder_container {
      float: left;
      width: 192px;
      padding-top: 2px; }
      #header div.folders .folder_container a {
        display: block;
        width: 192px;
        text-indent: -9999px;
        margin-bottom: 1px;
        height: 22px;
        background: url(/images/blank.gif) no-repeat 50% 50%; }
        #header div.folders .folder_container a:focus {
          outline: none; }
    #header div.folders .section_1 a.folder_1 {
      height: 23px;
      background-image: url(/images/Index/Sub_menu/index_sub_01-01_nor.png); }
      #header div.folders .section_1 a.folder_1.showing, #header div.folders .section_1 a.folder_1:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_01-01_sel.png); }
    #header div.folders .section_1 a.folder_2 {
      background-image: url(/images/Index/Sub_menu/index_sub_01-02_nor.png); }
      #header div.folders .section_1 a.folder_2.showing, #header div.folders .section_1 a.folder_2:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_01-02_sel.png); }
    #header div.folders .section_1 a.folder_3 {
      background-image: url(/images/Index/Sub_menu/index_sub_01-03_nor.png); }
      #header div.folders .section_1 a.folder_3.showing, #header div.folders .section_1 a.folder_3:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_01-03_sel.png); }
    #header div.folders .section_2 a.folder_1 {
      height: 23px;
      background-image: url(/images/Index/Sub_menu/index_sub_02-01_nor.png); }
      #header div.folders .section_2 a.folder_1.showing, #header div.folders .section_2 a.folder_1:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_02-01_sel.png); }
    #header div.folders .section_2 a.folder_2 {
      background-image: url(/images/Index/Sub_menu/index_sub_02-02_nor.png); }
      #header div.folders .section_2 a.folder_2.showing, #header div.folders .section_2 a.folder_2:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_02-02_sel.png); }
    #header div.folders .section_2 a.folder_3 {
      background-image: url(/images/Index/Sub_menu/index_sub_02-03_nor.png); }
      #header div.folders .section_2 a.folder_3.showing, #header div.folders .section_2 a.folder_3:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_02-03_sel.png); }
    #header div.folders .section_2 a.folder_4 {
      background-image: url(/images/Index/Sub_menu/index_sub_02-04_nor.png); }
      #header div.folders .section_2 a.folder_4.showing, #header div.folders .section_2 a.folder_4:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_02-04_sel.png); }
    #header div.folders .section_3 a.folder_1 {
      height: 23px;
      background-image: url(/images/Index/Sub_menu/index_sub_03-01_nor.png); }
      #header div.folders .section_3 a.folder_1.showing, #header div.folders .section_3 a.folder_1:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_03-01_sel.png); }
    #header div.folders .section_3 a.folder_2 {
      background-image: url(/images/Index/Sub_menu/index_sub_03-02_nor.png); }
      #header div.folders .section_3 a.folder_2.showing, #header div.folders .section_3 a.folder_2:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_03-02_sel.png); }
    #header div.folders .section_3 a.folder_3 {
      background-image: url(/images/Index/Sub_menu/index_sub_03-03_nor.png); }
      #header div.folders .section_3 a.folder_3.showing, #header div.folders .section_3 a.folder_3:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_03-03_sel.png); }
    #header div.folders .section_3 a.folder_4 {
      background-image: url(/images/Index/Sub_menu/index_sub_03-04_nor.png); }
      #header div.folders .section_3 a.folder_4.showing, #header div.folders .section_3 a.folder_4:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_03-04_sel.png); }
    #header div.folders .section_4 a.folder_1 {
      height: 23px;
      background-image: url(/images/Index/Sub_menu/index_sub_04-01_nor.png); }
      #header div.folders .section_4 a.folder_1.showing, #header div.folders .section_4 a.folder_1:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_04-01_sel.png); }
    #header div.folders .section_4 a.folder_2 {
      background-image: url(/images/Index/Sub_menu/index_sub_04-02_nor.png); }
      #header div.folders .section_4 a.folder_2.showing, #header div.folders .section_4 a.folder_2:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_04-02_sel.png); }
    #header div.folders .section_5 a.folder_1 {
      height: 23px;
      background-image: url(/images/Index/Sub_menu/index_sub_05-01_nor.png); }
      #header div.folders .section_5 a.folder_1.showing, #header div.folders .section_5 a.folder_1:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_05-01_sel.png); }
    #header div.folders .section_5 a.folder_2 {
      background-image: url(/images/Index/Sub_menu/index_sub_05-02_nor.png); }
      #header div.folders .section_5 a.folder_2.showing, #header div.folders .section_5 a.folder_2:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_05-02_sel.png); }
    #header div.folders .section_5 a.folder_3 {
      background-image: url(/images/Index/Sub_menu/index_sub_05-03_nor.png); }
      #header div.folders .section_5 a.folder_3.showing, #header div.folders .section_5 a.folder_3:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_05-03_sel.png); }
    #header div.folders .section_5 a.folder_4 {
      background-image: url(/images/Index/Sub_menu/index_sub_05-04_nor.png); }
      #header div.folders .section_5 a.folder_4.showing, #header div.folders .section_5 a.folder_4:hover {
        background-image: url(/images/Index/Sub_menu/index_sub_05-04_sel.png); }

#section #rail {
  width: 960px; }
  #section #rail form input.text,
  #section #rail form textarea.text {
    width: 950px; }
  #section #rail div.section_title a {
    display: block;
    width: 960px;
    height: 80px;
    background: url(/images/sub_page/sub_title_sample.png) no-repeat 0 0; }
  #section #rail div.sub_pages {
    background: url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_background.png) no-repeat 0 0; }
    #section #rail div.sub_pages:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #section #rail div.sub_pages {
      display: inline-block; }
    * html #section #rail div.sub_pages {
      height: 1%; }
    #section #rail div.sub_pages {
      display: block; }
    #section #rail div.sub_pages a {
      display: block;
      float: left;
      width: 192px;
      height: 20px;
      text-align: center;
      color: #999999; }
      #section #rail div.sub_pages a:focus {
        outline: none; }
      #section #rail div.sub_pages a.f2_page_1 {
        background: url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_01_nor.png) no-repeat 50% 50%; }
        #section #rail div.sub_pages a.f2_page_1.showing, #section #rail div.sub_pages a.f2_page_1:hover {
          color: white; }
      #section #rail div.sub_pages a.f2_page_2 {
        background: url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_02_nor.png) no-repeat 50% 50%; }
        #section #rail div.sub_pages a.f2_page_2.showing, #section #rail div.sub_pages a.f2_page_2:hover {
          color: white; }
      #section #rail div.sub_pages a.f2_page_3 {
        background: url(/images/sub_page/sub_3depth_menu/sub_3depth_menu_03_nor.png) no-repeat 50% 50%; }
        #section #rail div.sub_pages a.f2_page_3.showing, #section #rail div.sub_pages a.f2_page_3:hover {
          color: white; }
  #section #rail ul#folders li.folder {
    position: relative; }
    #section #rail ul#folders li.folder div.order_handle {
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 7px;
      height: 20px;
      width: 15px;
      overflow: hidden;
      background: url(/images/draggable.png) no-repeat 0 0;
      text-indent: -9999px; }
    #section #rail ul#folders li.folder.hover .order_handle {
      visibility: visible; }
    #section #rail ul#folders li.folder a.folder {
      display: block;
      padding: 6px 2px 4px;
      border-bottom: 1px solid #e1e1e1; }
      #section #rail ul#folders li.folder a.folder:hover {
        background-color: #dde0e8;
        text-decoration: none; }
    #section #rail ul#folders li.folder.showing a.folder {
      background-color: #dde0e8;
      font-weight: bold; }
    #section #rail ul#folders li.folder ul.folder_items li.item {
      background: url(/images/blt_dot.gif) no-repeat 3px 50%; }
      #section #rail ul#folders li.folder ul.folder_items li.item a.item {
        display: block;
        padding: 6px 2px 4px;
        margin-left: 15px;
        color: #666666;
        text-decoration: none;
        border-bottom: 1px solid #e9e9e9; }
        #section #rail ul#folders li.folder ul.folder_items li.item a.item:hover {
          background-color: #e9e9e9; }
        #section #rail ul#folders li.folder ul.folder_items li.item a.item.showing {
          font-weight: bold; }
#section #main_wrapper {
  width: 960px; }
  #section #main_wrapper form.new input.text {
    width: 712.5px; }
  #section #main_wrapper form.new textarea.text {
    width: 950px; }
  #section #main_wrapper .admin_actions {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7; }
    #section #main_wrapper .admin_actions a {
      margin-right: 10px; }
  #section #main_wrapper div.page h5 {
    padding-bottom: 10px; }
  #section #main_wrapper div.board h5 {
    padding-bottom: 10px; }
  #section #main_wrapper div.board ul.posts {
    border-top: 1px solid #e2e2e2; }
    #section #main_wrapper div.board ul.posts li.post {
      padding: 10px 0;
      border-bottom: 1px solid #e2e2e2; }
      #section #main_wrapper div.board ul.posts li.post:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      #section #main_wrapper div.board ul.posts li.post {
        display: inline-block; }
      * html #section #main_wrapper div.board ul.posts li.post {
        height: 1%; }
      #section #main_wrapper div.board ul.posts li.post {
        display: block; }
      #section #main_wrapper div.board ul.posts li.post a {
        color: #333333;
        text-decoration: none; }
        #section #main_wrapper div.board ul.posts li.post a:hover {
          text-decoration: underline; }
      #section #main_wrapper div.board ul.posts li.post div.f {
        float: left;
        text-align: center; }
        #section #main_wrapper div.board ul.posts li.post div.f.post_id {
          width: 30px; }
        #section #main_wrapper div.board ul.posts li.post div.f.post_title {
          width: 630px;
          text-align: left; }
        #section #main_wrapper div.board ul.posts li.post div.f.post_user {
          width: 140px; }
        #section #main_wrapper div.board ul.posts li.post div.f.post_date {
          width: 120px; }
        #section #main_wrapper div.board ul.posts li.post div.f.post_hits {
          width: 40px; }
  #section #main_wrapper div.board .toolbar {
    text-align: right;
    padding: 5px 0; }
  #section #main_wrapper div.post h5 {
    padding-bottom: 10px; }
  #section #main_wrapper div.post .post_byline {
    text-align: right; }
  #section #main_wrapper div.post .post_attachment {
    padding: 5px 10px;
    background-color: #e9e9e9; }
  #section #main_wrapper div.post .post_content {
    padding: 10px 0; }
  #section #main_wrapper div.post .owner_action {
    text-align: right;
    padding: 5px 0; }
  #section #main_wrapper div.post .toolbar {
    text-align: left;
    padding: 5px 0;
    border-top: 1px solid #e2e2e2; }
  #section #main_wrapper div.post div.comments {
    padding: 20px 0; }
    #section #main_wrapper div.post div.comments form.new_comment textarea.text {
      width: 640px;
      height: 54px; }
  #section #main_wrapper div.post ul#comments li.comment {
    padding: 10px 0;
    border-top: 1px solid #e9e9e9;
    position: relative; }
    #section #main_wrapper div.post ul#comments li.comment .owner_actions {
      position: absolute;
      right: 5px;
      top: 5px;
      visibility: hidden; }
    #section #main_wrapper div.post ul#comments li.comment .comment_header {
      color: #7a7a7a; }
    #section #main_wrapper div.post ul#comments li.comment .comment_content span.date {
      color: #7a7a7a;
      padding-left: 5px;
      font-size: 11px;
      letter-spacing: -1px; }
    #section #main_wrapper div.post ul#comments li.comment.hover .owner_actions {
      visibility: visible; }

#footer {
  width: 960px;
  height: 116px;
  background: url(/images/Index/Bottom/index_bottom_background.png) no-repeat 0 0; }

form.edit_comment textarea.text {
  width: 640px;
  height: 54px; }
