<div class="login_form_wrapper">
<%= form_for(:user, :url => create_session_users_path) do |f| %>
	<div class="field">
		<%= f.text_field :login, :class => "text smart_focus" %>
	</div>

	<div class="field">
		<%= f.password_field :password, :class => "text"%>
	</div>

	<div class="actions">
		<%= submit_tag("로그인", :class => "zButton right") %>
	</div>
<% end %>	
</div>
